#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button_1 {
  background-color: white;
  color: black;
  margin: 2%;
}

.button_2 {
  background-color: black;
  color: white;
  margin: 2%;
}
.inicializer{
  display: flex;
}

