@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #72ACD2;
}

input {
    border-radius: 7px;
    background-color: white;
    border: 1px solid lightgray;
    color: black
}

input:focus {
  outline: none;
}

textarea {
    border-radius: 7px;
    background-color: white;
    border: 1px solid lightgray;
    color: black;
}

textarea:focus {
  outline: none;
}

form {
    display: grid;
    row-gap: 3vh;
    grid-template-columns: repeat(1, 1fr);
}

.Caixa-input {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-bottom: 10px;
}


.Caixa-dia {
    width: 100%;
    border-radius: 20px;
    background-color: #F6EDE8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.4s;
}

.Caixa-dia[open] {
    background-color: #F6EDE8;
    transition: all 0.4s;
}

.Caixa-dia:hover {
    background-color: #F38763;
    color: white;
    transition: all 0.2s;
}


.Caixa-dia summary {
    cursor: pointer;
    font-weight: bold;
    color: #004E7E;
    padding: 8px;
    font-size: 1.1rem;
    list-style: none;
    justify-self: center;
}

.Caixa-dia:hover summary {
    background-color: #F38763;
    color: white;
    transition: all 0.2s;
}

.Grid-dias {
    width: 57vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3vw;
    row-gap: 2vh;
    align-items: start;
}

.Caixa-botoes {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}

.Dias {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    row-gap: 1vh;
    width: 100%;
}

.Caixa {
    width: 57vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 2vh;
    
}

.botao {
    background-color:#ED5522;
    color: white;
    border-radius: 17px;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    width: 17vw;
    height: 7vh;
    transition: all 0.2s;
}

.botao:hover {
    background-color: #F38763;
}

.botao:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.Quadro {
  background-color: #FFFCF7;
  width: 80vw;
  height: 85vh;
  display: grid;
  grid-template-columns: min-content;
  justify-content: center;
  justify-items: center;
  border-radius: 15px;
  margin-top: 2vh;
  padding: 3vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Caixa-botoes-centralizado {
    margin-top: 1rem;
    align-items: center;
    width: 57vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 2vh;
}
