@tailwind base;
@tailwind components;
@tailwind utilities;

.FormCadastro {
  display: grid;
  grid-template-columns: 1;

}

.LabelCadastro {
  color: #004E7E;
  font-weight:bold;
  margin-left: 7px;
  font-size: large;
  
}


.InputsCadastro {
  background-color: rgb(252, 252, 252);
  padding: 1vh;
  padding-left: 2vh;
  width: 30vw;
  box-shadow: 0px 4px 5px 1px rgb(206, 206, 206);
  border-radius: 10px;
  outline: none;
}


.Botao {
  width: 30vw;
  border-radius: 10vh;
  transition: all 0.25s;
  background-color: #ED5522;
  color: #FFFBF5;
  border: none;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  height: 7vh;
}


.LogoTransparente {
  height:13vh;
  width: auto;
}

.TextoLogo {
  width: 35vw;
}